.storagePageMain{
    width: 100%;
    display: flex;
    flex-direction: column;
}


table, th, td {
    width: 100%;
    border: none;
}

.tableBody{
    border: 5px solid black;
}

.leftColumn{
    background-color: blue;
    width: 50%;

}

.rightColumn{
    background-color: green;
    width: 100%;
}

.customTable{
    margin-left: auto;
    margin-right: auto;
}